body {
    font-family: Rubik, sans-serif;
    margin: 0;
    background-color: white;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #757575;
    font-family: Rubik, sans-serif;
}

header {
    display: inline;
    background: #FFFFFF;
}

.header-main {
    flex-direction: row;
    padding-top: 0;
}

#logo_picture {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#market_picture_grey {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
}

#market_picture_purple {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
    display: none;
}

#ceo_picture {
    background: #EEEEEE;
    border-radius: 16px;
    padding: 16px;
    width: 200px;
    height: 107px;
}

#bage_picture {
    background: #EEEEEE;
    border-radius: 16px;
    padding: 16px;
}

.shopping-cart:hover #market_picture_purple {
    display: block;
}

.shopping-cart:hover #market_picture_grey {
    display: none;
}

.nav-main-item {
    display: inline;
}

.nav-main-item a {
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    line-height: 53px;
}

.menu-nav {
    display: flex;
    margin: 15px;
}

.menu-ul {
    display: flex;
}

a:hover {
    color: #7E57C2;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin: 0px;
    display: flex;
    align-items: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.p-tag {
    font-size: 23px;
}

.order-button a{
    color: #FFFFFF;
    background: #7E57C2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

div#collapsibleNavbar.navbar-collapse.collapse {
    justify-content: center;
}

.mitka-titles {
    margin-bottom: 15px;
}

.mitka-titles-up {
    margin-top: 50px;
}

.purple_title {
    color: #7E57C2;
}

.contacts {
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.regular-input {
    width: 100%;
    border: solid rgba(117, 117, 117, 0.51);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    text-align: left;
    border-radius: 0;
}

.mitka-titles-up-second {
    margin-top: 20px;
}

footer {
    background: #FFFFFF;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}