body {
    font-family: Rubik, sans-serif;
    margin: 0px;
    background-color: white;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #757575;
    font-family: Rubik, sans-serif;
}

header {
    display: inline;
    background: #FFFFFF;
}

.header-main {
    flex-direction: row;
    padding-top: 0;
}

#logo_picture {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#keys_picture {
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

#market_picture_grey {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
}

#market_picture_purple {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
    display: none;
}

.shopping-cart:hover #market_picture_purple {
    display: block;
}

.shopping-cart:hover #market_picture_grey {
    display: none;
}

.nav-main-item {
    display: inline;
}

.nav-main-item a {
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    line-height: 53px;
}

.menu-nav {
    display: flex;
    margin: 15px;
}

.menu-ul {
    display: flex;
}

a:hover {
    color: #7E57C2;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin: 0px;
    display: flex;
    align-items: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.p-tag {
    font-size: 25px;
}

div#collapsibleNavbar.navbar-collapse.collapse {
    justify-content: center;
}

.vertical-line {
    border: 1px solid rgba(117, 117, 117, 0.25);
    transform:rotate(90deg);
}

.mitka-titles {
    margin-bottom: 15px;
}

.mitka-titles-up {
    margin-top: 15px;
}

.mitka-type-item {
    background: #EEEEEE;
    border-radius: 16px;
    padding: 16px;
}

.mitka-features {
    margin-top: 1px;
}

.contacts {
    font-size: 24px;
}

footer {
    background: #FFFFFF;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}