body {
    font-family: Rubik, sans-serif;
    margin: 0;
    background-color: white;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #757575;
    font-family: Rubik, sans-serif;
}

header {
    display: inline;
    background: #FFFFFF;
}

.row-padding {
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 16px;
}

.header-main {
    flex-direction: row;
    padding-top: 0;
}

#logo_picture {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#market_picture_grey {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
}

#market_picture_purple {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -45px;
    display: none;
}

.single_mitka_picture {
    width: 90px;
    height: 90px;
}

.multiple_mitka_picture {
    width: 134px;
    height: 99px;
}

.shopping-cart:hover #market_picture_purple {
    display: block;
}

.shopping-cart:hover #market_picture_grey {
    display: none;
}

.nav-main-item {
    display: inline;
}

.nav-main-item a {
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    line-height: 53px;
}

.menu-nav {
    display: flex;
    margin: 15px;
}

.menu-ul {
    display: flex;
}

a:hover {
    color: #7E57C2;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin: 0px;
    display: flex;
    align-items: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.p-tag {
    font-size: 23px;
}

div#collapsibleNavbar.navbar-collapse.collapse {
    justify-content: center;
}

.mitka-titles {
    margin-bottom: 15px;
}

.mitka-titles-up {
    margin-top: 50px;
}

.purple_title {
    color: #7E57C2;
}

.contacts {
    font-size: 24px;
}

.mitka-titles-up-second {
    margin-top: 20px;
}

.mitka-type-item {
    background: #EEEEEE;
    border-radius: 16px;
    padding: 16px;
}

.add-button a{
    color: #FFFFFF;
    background: #7E57C2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.add-button {
    margin-top: 16px;
}

.character-item {
    display: flex;
}

.p-tag-bottom p {
    margin-bottom: 2px;
}

.p-tag-bottom-charact p {
    margin-bottom: 8px;
}

.individual-order {
    color: #757575;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 0;
    margin-top: 16px;
}

.individual-order a {
    cursor: pointer;

}

.individual-order-option p {
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.regular-input {
    width: 100%;
    border: solid rgba(117, 117, 117, 0.51);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    text-align: left;
    border-radius: 0;
}

.mitka-titles-up-second {
    margin-top: 20px;
}

footer {
    background: #FFFFFF;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}

.order-button a{
    color: #FFFFFF;
    background: #7E57C2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.padding-zero {
    padding: 0px;
}

.sign {
    background-image: url("../images/ellipse.png");
    background-position: 6px 2px;
    background-repeat: space;
}

.var-sign {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-square-purple {
    width: 20px;
    height: 20px;
    background: #7E57C2;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-square-white {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    margin-left: -12px;
    z-index: 1;
    cursor: pointer;
}

.color-square-white-main {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-square-gray {
    width: 20px;
    height: 20px;
    background: #757575;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    margin-left: -12px;
    z-index: 1;
    cursor: pointer;
}

.color-square-yellow-main {
    width: 20px;
    height: 20px;
    background: #FFEA00;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-square-blue {
    width: 20px;
    height: 20px;
    background: #3D5AFE;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-square-yellow-two {
    width: 20px;
    height: 20px;
    background: #FFFF00;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    margin-left: -12px;
    z-index: 1;
    cursor: pointer;
}

.color-square-red {
    width: 20px;
    height: 20px;
    background: #FF3D00;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-square-orange {
    width: 20px;
    height: 20px;
    background: #FF9C7C;
    border: 0.5px solid #7E57C2;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
}

.color-block {
    display: flex;
}

.tick-image {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 3;
    right: 0;
}

.tick-image-set {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 3;
    right: 0;
}


.tick_image_blue {
    display: none;
}

.tick_image_orange {
    display: none;
}

.tick_image_purple {
    display: none;
}

.tick_image_white {
    display: none;
}

.tick_image_yellow {
    display: none;
}

.tick_image_red {
    display: none;
}

.tick_image_blue_set {
    display: none;
}

.tick_image_orange_set {
    display: none;
}

.tick_image_purple_set {
    display: none;
}

.tick_image_white_set {
    display: none;
}

.tick_image_yellow_set {
    display: none;
}

.tick_image_red_set {
    display: none;
}

.padding-zero-right {
    padding-left: 4px;
    padding-right: 0;
}